---
layout: default
title: About
---

<h1 class="page-title">About me</h1>

<div style="height:30px;">&nbsp;</div>

<p style="text-align:justify">
I'm a Research Associate in spatial analysis and spatial modeling at
<a href="https://www.inrae.fr/en" target=_blank>INRAE</a> as a permanent
member of the <a href="https://www.umr-tetis.fr/index.php/fr/" target=_blank>TETIS</a>
laboratory based in Montpellier (southern France). Prior to joining
<a href="https://www.inrae.fr/en" target=_blank>INRAE</a>, I worked as a
postdoctoral research associate at the
<a href="http://ifisc.uib-csic.es/" target=_blank>IFISC</a> research
lab in Palma de Mallorca, Spain. I hold a PhD in Computer Science and
an MSc in Applied Mathematics. My research focuses on analyzing large
spatial datasets and modeling complex spatial systems in a
multidisciplinary context.
</p>

<div style="height:10px;">&nbsp;</div>

<h3>Contact</h3>

<div style="height:5px;">&nbsp;</div>

<p style="text-align:justify">
Maison de la T&#233;l&#233;d&#233;tection<br>
500 rue JF Breton<br>
34000 Montpellier<br>
France<br>

<br>
Email: maxime.lenormand[at]inrae.fr 

