<div class="sidebar">

  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <div style="height:20px;">&nbsp;</div>

    <nav class="sidebar-nav">

     <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">About</a>
     <a class="sidebar-nav-item{% if page.url == "/resume/"%} active{% endif %}" href="/resume/">Resume</a>
     <a class="sidebar-nav-item{% if page.url == "/publications/"%} active{% endif %}" href="/publications/">Publications</a>
     <a class="sidebar-nav-item{% if page.url == "/software/"%} active{% endif %}" href="/software/">Software</a>
     <a class="sidebar-nav-item{% if page.url == "/visualizations/"%} active{% endif %}" href="/visualizations/">Visualizations</a>
     <a class="sidebar-nav-item{% if page.url == "/talks/"%} active{% endif %}" href="/talks/">Talks</a>
     <a class="sidebar-nav-item{% if page.url == "/projects/"%} active{% endif %}" href="/projects/">Projects</a>
     <a class="sidebar-nav-item{% if page.url == "/networks/"%} active{% endif %}" href="/networks/">Networks</a>

    </nav>

   <div style="height:30px;">&nbsp;</div>

   <div>
       <!--  -->
       <a href="https://orcid.org/0000-0001-6362-3473" target=_blank><i class="ai ai-orcid ai-2x"></i></a>     
       &nbsp;
       <a href="https://arxiv.org/a/lenormand_m_1.html" target=_blank><i class="ai ai-arxiv ai-2x"></i></a>
       &nbsp;&nbsp;
       <!--
       <a href="https://cv.hal.science/maximelenormand" target=_blank><i class="ai ai-open-access ai-2x"></i></a>
       -->
	<a href="https://cv.hal.science/maximelenormand" target=_blank">
    	  <img src="{{ '/assets/img/HAL_side.svg' | relative_url }}" class="hal-icon">
	</a>
 
   </div>    
       
   <div style="height:10px;">&nbsp;</div> 
       
   <div>    
       <a href="https://scholar.google.com/citations?user=VSyM8fEAAAAJ&hl=en" target=_blank><i class="ai ai-google-scholar ai-2x"></i></a>    
       &nbsp;
       <a href="https://gitlab.com/users/maximelenormand/projects" target=_blank><i class="fa fa-gitlab fa-2x"></i></a>
       &nbsp;&nbsp;
       <a href="https://github.com/maximelenormand?tab=repositories" target=_blank><i class="fa fa-github fa-2x"></i></a>
              
   </div>

   <div style="height:10px;">&nbsp;</div>

   <p style="font-size:10pt;">  Website made with Jekyll based on the Hyde theme.</p>

  </div>

</div>
