/* 
 * FROMHYDE
 *
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 *
 */

html,
body {
  overflow-x: hidden;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/*
 * Sidebar
 *
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12.5rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* Title */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 1.5rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.5;
  font-size: 1.25rem;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/*
 * Wrapper
 *
 */

.wrap { 
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left:    13rem; 
}

@media only screen and (max-width: 48em) {
  .wrap { padding-left:    0rem; }
}



/*
 * Container
 *
 */

.content {
  font-size: 18px;
  position: relative;
  padding-top:    2rem;
  padding-bottom: 2rem;
  max-width: 42rem;
  text-align: justify;
}

@media only screen and (max-width: 48em) {
  .content { font-size: 17px; }
}

@media only screen and (max-width: 30em) {
  .content { font-size: 17px; }
}

