<!DOCTYPE html>
<html lang="en-us">

  {% if page.redirect_to %}
    <meta http-equiv="refresh" content="0; URL={{ page.redirect_to }}">
    <script>window.location.href = "{{ page.redirect_to }}";</script>
  {% endif %}

  {% include head.html %}

  <body>
    
    <div class="wrap">
    	 <div class="content container">
        {{ content }}
      </div>
    </div>

  {% include sidebar.html %}

  </body>
</html>
